@import "src/styles/vars";

.input {
  position: relative;
}

.label {
  font-size: 13px;
  margin-bottom: 5px;
  display: flex;
  font-weight: 500;
  color: $teal;
}

.inputField {
  width: 100%;
  border-radius: 5px;
  height: 35px;
  border: 1px solid $light-blue;
  padding: 0 35px 0 10px;
  font-family: $primary-font;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.clearButton {
  border-radius: 50%;
  position: absolute;
  right: 10px;
  height: 20px;
  width: 20px;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1;
  border: 0;
  color: $teal;
  background-color: rgba($light-blue, .4);
  cursor: pointer;
  transition: 180ms ease-in-out;
  font-size: 18px;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: rgba($light-blue, .8);
  }
}

.menu {
  position: absolute;
  top: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $light-blue;
  z-index: 1;
  background-color: $white;
  box-shadow: 0 0 7px 0 rgba(142, 140, 140, 0.3);
  overflow: hidden;

  & li {
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    transition: 180ms ease-in-out;

    &.highlighted,
    &:hover {
      background-color: rgba($light-blue, .4);
    }
  }
}