@import "src/styles/vars";

.root {
  margin-top: 100px;
}

.people {
  display: flex;
  flex-direction: column;
  margin: 0 -10px;
  flex: 1;
}

.card {
  box-shadow: 0 0 7px 0 rgba(142, 140, 140, .3);
  flex: 1;
  margin: 0 10px 10px;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-bottom: 5px solid $light-blue;
  font-size: 13px;
  color: $dark-blue;
  transition: 180ms ease-in-out;

  &:hover {
    box-shadow: 0 0 15px 0 rgba(96, 125, 139, 0.45);
  }
}

.name {
  color: $blue;
  margin-bottom: 0;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.message {
  margin: 0 10px;
  font-weight: 600;
}

.aside {
  width: 260px;
  margin-left: 30px;
}
