@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: $primary-font;
  background-color: $off-blue;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

h1 {
  margin-bottom: 50px;
  color: $blue;
}
