@import "src/styles/vars";

.root {
  margin-top: 20px;
  background-color: $white;
  border-radius: 7px;
  box-shadow: 0 0 7px 0 rgba(142, 140, 140, .3);
  padding: 20px;
  font-size: 14px;
  transition: 180ms ease-in-out;

  &.canDrop {
    background-color: rgba(24, 193, 224, 0.4);
  }

  &.isActive {
    background-color: rgba(24, 193, 224, 0.8);
  }
}

.title {
  color: $dark-blue;
  font-size: 18px;
  margin-bottom: 10px;
}

.name {
  color: $teal;
  border-bottom: 1px solid $light-blue;
  padding: 10px 0;
  font-size: 13px;
  font-weight: 600;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }
}

.hint {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 25px;
}

.clearButton {
  border-radius: 50%;
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1;
  border: 0;
  color: $teal;
  background-color: rgba($light-blue, .4);
  cursor: pointer;
  transition: 180ms ease-in-out;
  font-size: 18px;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: rgba($light-blue, .8);
  }
}
