@import "src/styles/vars";

.root {
  background-color: $white;
  border-radius: 7px;
  box-shadow: 0 0 7px 0 rgba(142, 140, 140, .3);
  padding: 20px;
}

.title {
  color: $dark-blue;
  font-size: 18px;
  margin-bottom: 25px;
}

.field {
  margin-bottom: 20px;
}
