@import "src/styles/vars";

.root {
  margin-top: 100px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.info {
  margin-bottom: 20px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;

  & div:first-child {
    color: $teal;
    font-weight: 500;
  }

  & .list {
    text-align: right;
  }
}

.message {
  margin: 0 10px;
  font-weight: 600;
}

.card {
  box-shadow: 0 0 7px 0 rgba(142, 140, 140, .3);
  flex: 0 0 50%;
  margin: 0 10px 10px;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-bottom: 5px solid $light-blue;
  //font-size: 13px;
  color: $dark-blue;
  transition: 180ms ease-in-out;
}
